:root {
    --e-global-color-primary: #0e6fe6;
    --e-global-color-secondary: #00BAE7;
    --e-global-color-text: #525252;
    --e-global-color-accent: #0457BE;
    --e-global-color-2eb3dbd9: #000;
    --e-global-color-49e20fd5: #FFF;
    --e-global-color-c2ab30d: #CCE4F6;
    --e-global-color-60ea5f2: #A3CCED;
    --e-global-color-ccccfbd: #7AB2E3;
    --e-global-color-3b108b9: #5295D8;
    --e-global-color-1894c21: #2977CC;
    --e-global-color-ee72bcb: #0457BE;
    --e-global-color-ff4bdbb: #014CA9;
    --e-global-color-4d39722: #004193;
    --e-global-color-6993e7e: #00367D;
    --e-global-color-31b9747: #002B66;
    --e-global-color-fe2236b: #CCFDFF;
    --e-global-color-bddb930: #A3F7FD;
    --e-global-color-de3eaf3: #7AEDFA;
    --e-global-color-cd1c875: #52DFF5;
    --e-global-color-f87c21d: #29CEEF;
    --e-global-color-d2ec73c: #00BAE7;
    --e-global-color-ef19df8: #00A5CE;
    --e-global-color-b761ff1: #008FB3;
    --e-global-color-ad6385e: #007998;
    --e-global-color-7b78f6c: #00627C;
    --e-global-color-f75aefe: #FAFAFA;
    --e-global-color-79da62c: #F5F5F5;
    --e-global-color-a09c745: #E5E5E5;
    --e-global-color-e330047: #D4D4D4;
    --e-global-color-0791208: #A3A3A3;
    --e-global-color-949016e: #737373;
    --e-global-color-2a4ebf7: #525252;
    --e-global-color-a9949c2: #404040;
    --e-global-color-5435fda: #262626;
    --e-global-color-ea9e042: #171717;
}